<div class="top"></div>

<div class="left">
    <button (click)="drawingShapeList.addRectangle()">Add Box</button>
    <button (click)="drawingShapeList.addCircle()">Add Circle</button>
    <button (click)="drawingShapeList.addTriangle()">Add Triangle</button>
</div>

<div class="center">
    <!-- <div class="position_indicator" *ngIf="positionIndicator.visible" [style.top]="positionIndicator.top"
        [style.left]="positionIndicator.left">
        {{positionIndicator.position_text}}
    </div> -->

    <div *ngIf="contextMenu.show" class="context_menu" [style.left]="contextMenu.position.x + 'px'"
        [style.top]="contextMenu.position.y + 'px'">
        <table class="mxPopupMenu">
            <tbody>
                <tr class="mxPopupMenuItem" (click)="drawingShapeList.delete()">
                    <td class="mxPopupMenuIcon"></td>
                    <td class="mxPopupMenuItem" align="left">Delete</td>
                    <td class="mxPopupMenuItem" style="padding-right: 6px; text-align: right;"></td>
                </tr>
                <tr class="mxPopupMenuItem" (click)="drawingShapeList.dublicate()">
                    <td class="mxPopupMenuIcon"></td>
                    <td class="mxPopupMenuItem" align="left">Dublicate</td>
                    <td class="mxPopupMenuItem" style="padding-right: 6px; text-align: right;"></td>
                </tr>
                <!-- <tr class="mxPopupMenuItem">
                    <td class="mxPopupMenuIcon"></td>
                    <td class="mxPopupMenuItem" align="left">Bring Forward</td>
                    <td class="mxPopupMenuItem" style="padding-right: 6px; text-align: right;"></td>
                </tr> -->
                <tr class="mxPopupMenuItem" (click)="drawingShapeList.sendBackward()">
                    <td class="mxPopupMenuIcon"></td>
                    <td class="mxPopupMenuItem" align="left">Send Backward</td>
                    <td class="mxPopupMenuItem" style="padding-right: 6px; text-align: right;"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <svg (mousedown)="mouseDownContainer($event)" (mouseup)="mouseUpContainer($event)"
        (mouseleave)="mouseOutContainer($event)" (click)="containerClick($event)" (mousemove)="mouseMove($event)">

        <g *ngFor="let shape of drawingShapeList.drawingShapes">
            <rect *ngIf="shape.name == 'rectangle'" (contextmenu)="shape.contextmenu($event)"
                (mousedown)="shape.mouseDown($event)" (click)="shape.click($event)" (mouseup)="shape.mouseUp($event)"
                [attr.height]="shape.getBoundaryHeight()" [attr.width]="shape.getBoundaryWidth()"
                [attr.x]="shape.getX()" [attr.y]="shape.getY()" [attr.transform]="shape.getRotationValue()"
                [style.fill]="shape.color">
            </rect>
            <circle *ngIf="shape.name == 'circle'" (contextmenu)="shape.contextmenu($event)"
                [attr.classes]="shape.classes" (mousedown)="shape.mouseDown($event)" (click)="shape.click($event)"
                (mouseup)="shape.mouseUp($event)" [style.fill]="shape.color"
                [attr.cx]="shape.getX()+(drawingShapeList.getCircle(shape)).diameter/2"
                [attr.cy]="shape.getY()+(drawingShapeList.getCircle(shape)).diameter/2"
                [attr.r]="(drawingShapeList.getCircle(shape)).diameter/2">
            </circle>
            <polygon *ngIf="shape.name == 'triangle'" (contextmenu)="shape.contextmenu($event)"
                [attr.classes]="shape.classes" (mousedown)="shape.mouseDown($event)" (click)="shape.click($event)"
                (mouseup)="shape.mouseUp($event)" [style.fill]="shape.color"
                [attr.points]="[drawingShapeList.getTriangle(shape).getPoint1(),drawingShapeList.getTriangle(shape).getPoint2(),drawingShapeList.getTriangle(shape).getPoint3()]">
            </polygon>

            <rect *ngIf="shape.focused" class="boundary" [attr.height]="shape.getBoundaryHeight()"
                [attr.width]="shape.getBoundaryWidth()" [attr.x]="shape.getX()" [attr.y]="shape.getY()"
                [attr.transform]="shape.getRotationValue()"></rect>

            <circle (mouseup)="shape.shapeBoundary!.mouseUpResizePoint($event,point)"
                (mousedown)="shape.shapeBoundary!.mouseDownResizePoint($event,point)" [attr.cx]="point.x"
                [attr.cy]="point.y" [attr.fill]='"#29b6f2"' [attr.r]="shape.shapeBoundary!.radiusCircle"
                *ngFor="let point of shape.shapeBoundary!.points">
            </circle>


            <circle *ngIf="shape.focused" [attr.cx]="shape.getX()+ shape.getBoundaryWidth() + 10"
                (mousedown)="shape.setAsRotatable()" [attr.cy]="shape.getY() + shape.getBoundaryHeight()/2"
                [attr.fill]='"#000"' [attr.r]="shape.shapeBoundary!.radiusCircle"
                [attr.transform]="shape.getRotationValue()">
            </circle>


        </g>

    </svg>
</div>

<div class="right">
    <div class="color_palette">
        <div class="left_arrow">
            <fa-icon [icon]="faAngleLeft" (click)="switchColors(0)"></fa-icon>
        </div>
        <div class="palettes">
            <div class="color" [style.background]="color" (click)="drawingShapeList.fillColor(color)"
                *ngFor="let color of active_colors"></div>
        </div>
        <div class="right_arrow">
            <fa-icon [icon]="faAngleRight" (click)="switchColors(1)"></fa-icon>
        </div>
    </div>
    <div class="color_switcher">
        <div class="switch" (click)="switchColors(0)" [class.active_switch]="active_colors_index == 0"></div>
        <div class="switch" (click)="switchColors(1)" [class.active_switch]="active_colors_index == 1"></div>
    </div>

</div>

<div class="bottom"></div>