<div class="top">
</div>
<div class="left">
    <button (click)="rectangleList.add()">Add Box</button>
    <button (click)="circleList.add()">Add Circle</button>
    <button (click)="triangleList.add()">Add Triangle</button>
</div>
<div class="center">
    <!-- <div class="position_indicator" *ngIf="positionIndicator.visible" [style.top]="positionIndicator.top"
        [style.left]="positionIndicator.left">
        {{positionIndicator.position_text}}
    </div> -->
    <svg-container containerId="svg-element" (mouseDownEvent)="mouseDownContainer($event)"
        (mouseUpEvent)="mouseUpContainer($event)" (mouseOutEvent)="mouseOutContainer($event)"
        (mouseClickEvent)="containerClick($event)" (mouseMoveEvent)="mouseMove($event)" [height]='800'>

        <div *ngFor="let rectangle of rectangleList.rectangles">
            <svg-rect [classes]="rectangle.classes" (mouseDownEvent)="rectangle.mouseDown($event)"
                (clickEvent)="rectangle.click($event)" (mouseUpEvent)="rectangle.mouseUp($event)"
                [height]="rectangle.height" [width]="rectangle.width" [color]="rectangle.color" [x]="rectangle.x"
                [y]="rectangle.y">
            </svg-rect>
            <svg-circle (mouseUpEvent)="rectangle.shapeBoundary!.mouseUpResizePoint($event,point)"
                (mouseDownEvent)="rectangle.shapeBoundary!.mouseDownResizePoint($event,point)" [x]="point.x"
                [y]="point.y" [color]='"#29b6f2"' [diameter]="rectangle.shapeBoundary!.radiusCircle * 2"
                *ngFor="let point of rectangle.shapeBoundary!.points">
            </svg-circle>
        </div>

        <div *ngFor="let triangle of triangleList.triangles">
            <svg-polygon [classes]="triangle.classes" (mouseDownEvent)="triangle.mouseDown($event)"
                (clickEvent)="triangle.click($event)" (mouseUpEvent)="triangle.mouseUp($event)" [borderSize]="2"
                [points]="[triangle.getPoint1(), triangle.getPoint2(), triangle.getPoint3()]"></svg-polygon>
            <svg-circle (mouseUpEvent)="triangle.shapeBoundary!.mouseUpResizePoint($event,point)"
                (mouseDownEvent)="triangle.shapeBoundary!.mouseDownResizePoint($event,point)" [x]="point.x"
                [y]="point.y" [color]='"#29b6f2"' [diameter]="triangle.shapeBoundary!.radiusCircle * 2"
                *ngFor="let point of triangle.shapeBoundary!.points">
            </svg-circle>
        </div>

        <div *ngFor="let circle of circleList.circles">
            <svg-circle [classes]="circle.classes" (mouseDownEvent)="circle.mouseDown($event)"
                (clickEvent)="circle.click($event)" (mouseUpEvent)="circle.mouseUp($event)" [color]="circle.color"
                [x]="circle.x" [y]="circle.y" [diameter]="circle.diameter">
            </svg-circle>
            <svg-circle (mouseUpEvent)="circle.shapeBoundary!.mouseUpResizePoint($event,point)"
                (mouseDownEvent)="circle.shapeBoundary!.mouseDownResizePoint($event,point)" [x]="point.x" [y]="point.y"
                [color]='"#29b6f2"' [diameter]="circle.shapeBoundary!.radiusCircle * 2"
                *ngFor="let point of circle.shapeBoundary!.points">
            </svg-circle>
        </div>

        <svg-line [classes]="line.classes" [x0]="l.x0" [x1]="l.x1" [y0]="l.y0" (clickEvent)="line.click($event,l)"
            [y1]="l.y1" [borderSize]="line.line_border_size" *ngFor="let l of line.lines"> </svg-line>
        <svg-circle [x]="l_point.x" [y]="l_point.y" [diameter]="line.diameterCircle"
            (mouseDownEvent)="line.mouseDown($event,l_point)" (mouseUpEvent)="line.mouseUp($event)" [color]='"#29b6f2"'
            *ngFor="let l_point of line.points">
        </svg-circle>

    </svg-container>
</div>
<div class="right">
    <div class="color_palette">
        <div class="left_arrow">
            <fa-icon [icon]="faAngleLeft" (click)="switchColors(0)"></fa-icon>
        </div>
        <div class="palettes">
            <div class="color" [style.background]="color" (click)="fillColor(color)"
                *ngFor="let color of active_colors"></div>
        </div>
        <div class="right_arrow">
            <fa-icon [icon]="faAngleRight" (click)="switchColors(1)"></fa-icon>
        </div>
    </div>
    <div class="color_switcher">
        <div class="switch" (click)="switchColors(0)" [class.active_switch]="active_colors_index == 0"></div>
        <div class="switch" (click)="switchColors(1)" [class.active_switch]="active_colors_index == 1"></div>
    </div>

</div>
<div class="bottom"></div>